{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Bonjour</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Cat_August_2010-4.jpg/1280px-Cat_August_2010-4.jpg" alt="Photo d'un chat de gouttière avachie sur des marches blanches">
    <p>
        <button data-controller="hello" data-action="hello#agit">OK</button> {#C'est du stimulus changement d'état #}
    </p>

    <div>
        <a href="{{ path('app_test') }}"> Lien vers page test </a>
    </div>

{% endblock %}

